<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <title>Catálogo de Vehículos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'add' %}">Agregar Vehículo</a></li>
                <li><a href="{% url 'listar' %}">Listar Vehículos</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Catálogo de Vehículos</h1>
    </main>
</body>
</html>
