<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Listado de Vehículos</title>
</head>
<body>
    <h1>Listado de Vehículos</h1>
    <table>
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serial Carrocería</th>
                <th>Serial Motor</th>
                <th>Categoría</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.serial_carroceria }}</td>
                <td>{{ vehiculo.serial_motor }}</td>
                <td>{{ vehiculo.categoria }}</td>
                <td>${{ vehiculo.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
